.form_background{
    background-color: rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    transform: scale(0);
    transition: transform .25s;
}
.form_background.able{
    transform: scale(1);
    transition: transform .25s;
}
.form_container{
    background-color: gray;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 500px;
    max-width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form_close{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 25px;
}
.form_close:hover{
    color: black;
}

.form_title{
    text-align: center;
    
}

.form_item {
    width: 100%; 
    margin-bottom: 15px; 
    
}

.form_item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form_item input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.form_btn {
    width: calc(100% - 20px);
    padding: 15px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.form_btn:hover {
    background-color: #0056b3;
}
.form_title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
